In [2]:
# Import files and functions
import pandas as pd
from pathlib import Path
import numpy as np

In [3]:
# Set and CSV Path
csvpath = Path("../../python-homework/PyBank/budget_data.csv")

In [4]:
# Read the CSV Path
budget_data = pd.read_csv(csvpath)
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [6]:
budget_data['difference'] = budget_data['Profit/Losses'].diff()
budget_data.head()

       Date  Profit/Losses  difference
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [27]:
budget_data['difference'].max() 
budget_data_profits = budget_data['difference'].max()
budget_data.loc[budget_data['difference'] == budget_data['difference'].max()]
budget_data_max = budget_data.loc[budget_data['difference'] == budget_data['difference'].max()]

In [36]:
budget_data['difference'].min()
budget_data_losses = budget_data['difference'].min()
budget_data.loc[budget_data['difference'] == budget_data['difference'].min()]
budget_data_min =budget_data.loc[budget_data['difference'] == budget_data['difference'].min()]

In [24]:
budget_data['difference'].mean()
budget_data_average_2 = budget_data['difference'].mean()

In [21]:
# The total number of months included in the dataset.
total_months = budget_data.shape[0]
print(f"Total number of months in this dataset is", (total_months))
total_months_2 = len(budget_data['Date'])
print(total_months_2)

Total number of months in this dataset is 86
86

In [22]:
#The net total amount of Profit/Losses over the entire period.
net_profit = sum(budget_data.iloc[:,1])
print(f"The net profit over the last 86 months is ${net_profit}.00")

The net profit over the last 86 months is $38382578.00

In [25]:
#The average of the changes in Profit/Losses over the entire period.    

print(budget_data.mean())
average_change = round(net_profit /total_months_2, 2)
print(f"The average change in profit/losses over the the last 86 months is ${average_change}")

Profit/Losses    446309.046512
dtype: float64
The average change in profit/losses over the the last 86 months is $446309.05

In [37]:
#Show Financial Analysis for PyBank

print("Financial Analysis")
print("-----------------------")
print(f"Total Months: {total_months_2}")
print(f"Total: ${net_profit}")
print(f"Average Change: {budget_data_average_2}")
print(f"Greatest Increase in Profits: {budget_data_max.iloc[0]['Date']}, ${budget_data_profits}")
print(f"Greatest Decrease in Profits: {budget_data_min.iloc[0]['Date']}, ${budget_data_losses}")

Financial Analysis
-----------------------
Total Months: 86
Total: $38382578
Average Change: -2315.1176470588234
Greatest Increase in Profits: Feb-2012, $1926159.0
Greatest Decrease in Profits: Sep-2013, $-2196167.0