In [9]:
# Import files and functions
import pandas as pd
from pathlib import Path
import numpy as np

In [10]:
# Set and read the csv Path
csvpath = Path("../../python-homework/PyBank/budget_data.csv")

In [11]:
budget_data = pd.read_csv(csvpath)
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [13]:
total_months = len(budget_data['Date'])
print(total_months)

86

In [ ]:
with open