In [20]:
# Import files and functions
import pandas as pd
from pathlib import Path
import numpy as np

In [21]:
# Set and CSV Path
csvpath = Path("../../python-homework/PyBank/budget_data.csv")

In [22]:
# Read the CSV Path
budget_data = pd.read_csv(csvpath)
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [23]:
# The total number of months included in the dataset.
total_months = budget_data.shape[0]
print(f"Total number of months in this dataset is", (total_months))
total_months_2 = len(budget_data['Date'])
print(total_months_2)

Total number of months in this dataset is 86
86

In [24]:
#The net total amount of Profit/Losses over the entire period.
net_profit = sum(budget_data.iloc[:,1])
print(f"The net profit over the last 86 months is ${net_profit}.00")

The net profit over the last 86 months is $38382578.00

In [25]:
#The average of the changes in Profit/Losses over the entire period.    

print(budget_data.mean())
average_change = round(net_profit /total_months_2, 2)
print(f"The average change in profit/losses over the the last 86 months is ${average_change}")

Profit/Losses    446309.046512
dtype: float64
The average change in profit/losses over the the last 86 months is $446309.05

In [26]:
#The greatest increase in profits (date and amount) over the entire period.
def find_biggest(revenue):
    maximum = 0

    for number in revenue:
        if maximum == 0:
            maximum = number
        elif number > maximum:
            maximum = number

    print(f"The greatest increase in profits is ${maximum}")

greatest_increase = budget_data['Profit/Losses']
find_biggest(greatest_increase)

The greatest increase in profits is $1170593

In [27]:
#The greatest decrease in losses (date and amount) over the entire period.
def find_smallest(revenue):
    minimum = 0

    for number in revenue:
        if minimum == 0:
            minimum = number
        elif number < minimum:
            minimum = number

    print(f"The greatest decrease in losses is ${minimum}")

greatest_decrease = budget_data['Profit/Losses']
greatest_decrease_2 = find_smallest(greatest_decrease)

The greatest decrease in losses is $-1196225

In [28]:
#Show Financial Analysis for PyBank

print("Financial Analysis")
print("-----------------------")
print(f"Total Months: {total_months_2}")
print(f"Total: ${net_profit}")
print(f"Average Change: {average_change}")
print(f"Greatest Increase in Profits: ")
print(f"Greatest Decrease in Profits:")

Financial Analysis
-----------------------
Total Months: 86
Total: $38382578
Average Change: 446309.05
Greatest Increase in Profits:
Greatest Decrease in Profits: